html {
  max-width: 100vw;
  overflow-x: hidden;
  body {
    height: 100%;
    font-family: sans-serif;
    &.no-scroll {
      height: 100vh;
      overflow: hidden;
    }
    #__next {
      height: 100%;
    }
    * {
      box-sizing: border-box;
      white-space: pre-wrap;
      background-repeat: no-repeat;
    }
    a,
    button {
      display: flex;
      width: fit-content;
      height: fit-content;
      text-align: center;
      &:hover {
        cursor: pointer;
      }
    }
    .btn {
      white-space: nowrap;
      &:active {
        transform: scale(0.98);
      }
    }
    .row {
      display: flex;
      flex-direction: row;
    }
    .col {
      display: flex;
      flex-direction: column;
    }
    .main-content {
      .content-container {
        width: 100%;
        .content-wrapper {
          margin: 0 20px;
        }
      }
    }
  }
}

// TODO : Uncomment if you want to hide the scrollbar
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
